build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/SnakeGame
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.5/CMakeCCompiler.cmake
build/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.5/CMakeSystem.cmake
build/CMakeFiles/3.16.5/CompilerIdC/a.out
build/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.5/CompilerIdCXX/a.out
build/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/SnakeGame.dir/build.make
build/CMakeFiles/SnakeGame.dir/cmake_clean.cmake
build/CMakeFiles/SnakeGame.dir/CXX.includecache
build/CMakeFiles/SnakeGame.dir/depend.internal
build/CMakeFiles/SnakeGame.dir/depend.make
build/CMakeFiles/SnakeGame.dir/DependInfo.cmake
build/CMakeFiles/SnakeGame.dir/flags.make
build/CMakeFiles/SnakeGame.dir/link.txt
build/CMakeFiles/SnakeGame.dir/progress.make
build/CMakeFiles/SnakeGame.dir/src/controller.cpp.o
build/CMakeFiles/SnakeGame.dir/src/game.cpp.o
build/CMakeFiles/SnakeGame.dir/src/main.cpp.o
build/CMakeFiles/SnakeGame.dir/src/renderer.cpp.o
build/CMakeFiles/SnakeGame.dir/src/snake.cpp.o
.vscode/settings.json
